/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESC>;
            key-positions = <0 11>;
        };

        OpenParenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <6 7>;
        };

        OpenBrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <18 19>;
        };

        OpenBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <30 31>;
        };

        CloseParenthasis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <8 7>;
        };

        CloseBrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <19 20>;
        };

        CloseBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <31 32>;
        };

        LessThan {
            bindings = <&kp LESS_THAN>;
            key-positions = <3 4>;
        };

        GreatherThan {
            bindings = <&kp GREATER_THAN>;
            key-positions = <4 5>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <38 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |   `      |  1  |  2  |  3   |  4   |  5   |   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB     |  Q  |  W  |  E   |  R   |  T   |   |  Y   |  U    |  I    |  O   |   P   |   =   |
            // |hCTRL tESC|  A  |  S  |  D   |  F   |  G   |   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT    |  Z  |  X  |  C   |  V   |  B   |   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                        | ALT  | GUI  | LOWER|   | ENTER| RAISE | CTRL  |

            bindings = <
      &kp GRAVE  &kp N1  &kp N2    &kp N3     &kp N4    &kp N5        &kp N6  &kp N7     &kp N8    &kp N9    &kp N0    &kp MINUS
      &kp TAB    &kp Q   &kp W     &kp E      &kp R     &kp T         &kp Y   &kp U      &kp I     &kp O     &kp P     &kp EQUAL
&mt LCTRL ESC    &kp A   &kp S     &kp D      &kp F     &kp G         &kp H   &kp J      &kp K     &kp L     &kp SEMI  &kp SQT
    &kp LSHFT    &kp Z   &kp X     &kp C      &kp V     &kp B         &kp N   &kp M      &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                                   &kp LALT   &kp LMETA &mo 1         &kp RET &mo 2      &kp RCTRL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  F12    |  F1 |  F2 |  F3  |  F4  |  F5  |   |  F6  |   F7  |   F8  |  F9  |  F10  |  F11  |
            // |   `     |  1  |  2  |  3   |  4   |  5   |   |  6   |   7   |   8   |  9   |   0   |   -   |
            // |CTRL/ESC |     |     |      |      |      |   |  <-  |   ^   |   v   |  ->  |       |       |
            // | SHIFT   |     |     |      |      |      |   |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                       |      |      |      |   |      |       |       |

            bindings = <
      &kp F12  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5         &kp F6       &kp F7     &kp F8     &kp F9    &kp F10   &kp F11
    &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5         &kp N6       &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&mt LCTRL ESC  &trans  &trans  &trans  &trans  &trans         &kp LEFT     &kp DOWN   &kp UP     &kp RIGHT &trans    &trans
   &kp LSHIFT  &trans  &trans  &trans  &trans  &trans         &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp RIGHT_SHIFT
                               &trans  &trans  &trans         &trans       &trans     &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |          |         |        |      |       |      |   |      |       |       |  [   |   ]   |   \   |
            // |   ~      |  !      |  @     |  #   |  $    |  %   |   |  ^   |  &    |  *    |  (   |   )   |   _   |
            // | SHIFT    |         |        |      |       |      |   |      |       |       |      |       |       |
            // |          |         |        |      |  (    |  {   |   |  }   |  )    |  +    |  {   |   }   |       |
            //                               |      |       |      |   |      |       |       |

            bindings = <
    &trans       &trans        &trans        &trans        &trans        &trans                 &trans     &trans      &trans          &kp LBKT   &kp RBKT  &kp BSLH
    &kp TILDE    &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT              &kp CARET  &kp AMPS    &kp KP_MULTIPLY &kp LPAR   &kp RPAR  &kp UNDER
    &kp LSHIFT   &trans        &trans        &trans        &trans        &trans                 &trans     &trans      &trans          &trans     &trans    &kp RSHFT
    &trans       &trans        &trans        &kp LPAR      &kp LBRC      &trans                 &kp RBRC   &kp RPAR    &kp KP_PLUS     &kp LBRC   &kp RBRC  &trans
                                             &trans        &trans        &trans                 &trans     &trans      &trans    
            >;
        };
    };
};
